.owl-carousel .item{
 /* border: 1px solid black; */
 font-size: 24px;
 text-align: center;
 margin-top: 20px;;

   

}

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;

}
.owl-carousel {
    display: block !important;
}
span.fw-bold {
    float: left;
    width: 100%;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}